includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/nextflow.config"

includeConfig "${projectDir}/test/common.config"

params {
    // Reference files
    funcotator_data_source = "/hot/ref/tool-specific-input/Funcotator/somatic/funcotator_dataSources.v1.7.20200521s"

    liftover_direction = "GRCh38ToGRCh37"

    chain_file = "/hot/ref/tool-specific-input/liftOver/hg38ToHg19.over.chain"

    repeat_bed = "/hot/ref/database/RepeatMasker-3.0.1/processed/GRCh38/GRCh38_RepeatMasker_intervals.bed"

    variant_caller = "Mutect2"

    rf_model = "/hot/project/method/AlgorithmEvaluation/BNCH-000142-GRCh37v38/sSNV/stableLift/train_CPCG-40QC_Mutect2/RF-train_Mutect2_ntree2000_nodesize5_classratio0.Rds"
}

// Setup the pipeline config. DO NOT REMOVE THIS LINE!
methods.setup()
