includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/nextflow.config"

params {
    variant_caller = "Delly2-gSV"
    liftover_direction = "GRCh38ToGRCh37"
}

includeConfig "${projectDir}/test/common.config"

// Setup the pipeline config. DO NOT REMOVE THIS LINE!
methods.setup()
