includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/nextflow.config"

includeConfig "${projectDir}/test/common.config"

params {
    // Choices: ["Mutect2", "HaplotypeCaller"]
    variant_caller = "Delly2"

    liftover_direction = "GRCh37ToGRCh38"

    rf_model = "/hot/project/method/AlgorithmEvaluation/BNCH-000142-GRCh37v38/gSV/stableLift/train_CPCG-40QC_Delly2/RF-train_Delly2_ntree2000_nodesize20_classratio0.Rds"

    chain_file = "/hot/ref/tool-specific-input/liftOver/hg19ToHg38.over.chain"

    header_contigs = "/hot/code/nkwang/GitHub/uclahs-cds/project-method-AlgorithmEvaluation-BNCH-000142-GRCh37v38/report/manuscript/publish/GRCh38-vcf-header-contigs.txt"
    gnomad_rds = "/hot/code/nkwang/GitHub/uclahs-cds/project-method-AlgorithmEvaluation-BNCH-000142-GRCh37v38/report/manuscript/publish/data/gnomad.v4.0.sv.Rds"
}

// Setup the pipeline config. DO NOT REMOVE THIS LINE!
methods.setup()
